## Toolhead 1 - Verde

#####################################################################
#   Extruder
#####################################################################

[extruder1]
step_pin: toolboard_1: PD0
dir_pin: toolboard_1: PD1
enable_pin: !toolboard_1: PD2
rotation_distance = 53.494165
gear_ratio = 44:10, 37:17
microsteps = 32
full_steps_per_rotation: 200
nozzle_diameter: 0.40
filament_diameter: 1.75

max_extrude_cross_section: 1.75
max_extrude_only_distance: 100.0

#####################################################################
#   Heater
#####################################################################

heater_pin: toolboard_1: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: toolboard_1: PA3
min_temp: 0
max_temp: 300
max_power: 1.0
min_extrude_temp: 170

pressure_advance = 0.04
pressure_advance_smooth_time = 0.040

[tmc2209 extruder1]
uart_pin = toolboard_1: PA15
interpolate = true
run_current = 0.56

#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan
[fan_generic part_fan_t1]
pin = toolboard_1: PA1
kick_start_time = 0.5
off_below = 0.1

## Hotend fan
[heater_fan extruder1_fan]
pin = toolboard_1: PA0
heater = extruder1
heater_temp = 50.0
fan_speed = 1.0

#####################################################################
#   Toolhead 0 LEDs
#####################################################################

[neopixel th_leds_t1]
pin = toolboard_1: PD3
chain_count = 3
color_order = GRB
initial_red = 0
initial_green = 1.0
initial_blue = 0

#####################################################################
#   Accelerometer
#####################################################################

[adxl345 toolboard_1]
cs_pin: toolboard_1: PB12
spi_software_sclk_pin: toolboard_1: PB10
spi_software_mosi_pin: toolboard_1: PB11
spi_software_miso_pin: toolboard_1: PB2
axes_map: -x, -z, -y

#####################################################################
#   Temperature Sensor
#####################################################################

[temperature_sensor toolboard_1]
sensor_type: temperature_mcu
sensor_mcu: toolboard_1
min_temp: 0
max_temp: 100

#####################################################################
#   gcode_macro T1
#####################################################################

[gcode_macro T1]
variable_color: ""
variable_tool_number: 1
gcode:
  _CHANGE_TOOL T={tool_number}

[tool T1]
tool_number: 1
extruder: extruder1
## Fan control is handled by the tool change macro, not needed here
#fan: fan_generic part_fan_t1
## Offsets are handled by the tool change macro, make sure these are set to 0.
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0

## Docking parameters set these for each tool
params_park_x: 185    # X position with the toolhead screws fully within the docking slots.
params_detach_x: 180   # X position with the toolhead screws safely outside of the docking slots.

## Input shaper parameters
params_input_shaper_type_x: 'ei'
params_input_shaper_freq_x: 85.0
params_input_shaper_damping_ratio_x: 0.050
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 50.8
params_input_shaper_damping_ratio_y: 0.068

[tool_probe T1]
pin: toolboard_1: PB5
tool: 1
z_offset: 0
speed: 2.5
samples: 4
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.05
samples_tolerance_retries: 4
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder1